.jumbotron{
   background-image: url(/img/Road.jpeg);
   background-repeat: none;
   background-size: cover;
   background-position: center;
//    filter: grayscale(30%);
   h1{
       color: #ffffff;
   }
   h2{
       color: white;
   }
}
