#WelcomeContent{
    background-image: url(img/whitebackground.jpg);
    background-size: cover;
}

.background-image{
    background-image: url(img/whitebackground.jpg);
    background-size: cover;
}