.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.dropdown-item:hover {
  background-color: #cdbcb2; }

.marginClass {
  margin-top: 80px; }

.jumbotron {
  background-image: url(img/Road.jpeg);
  background-repeat: none;
  background-size: cover;
  background-position: center; }
  .jumbotron h1 {
    color: #ffffff; }
  .jumbotron h2 {
    color: white; }

#WelcomeContent {
  background-image: url(img/whitebackground.jpg);
  background-size: cover; }

/* ========================================================================== */
/*                                   COLORS                                   */
/* ========================================================================== */
/* ========================================================================== */
/*                                    BLUE                                    */
/* ========================================================================== */
.text-blue {
  color: #223e99 !important; }

.bg-blue {
  background-color: #223e99 !important; }

/* ========================================================================== */
/*                                     RED                                    */
/* ========================================================================== */
.text-red {
  color: #fd3c3c !important; }

.bg-red {
  background-color: #fd3c3c !important; }

/* ========================================================================== */
/*                                     TAN                                    */
/* ========================================================================== */
.text-tan {
  color: #cdbcb2 !important; }

.bg-tan {
  background-color: #cdbcb2 !important; }

#aboutUs {
  background-image: url(img/whitebackground.jpg);
  background-size: cover; }

.form-grouping {
  border: 1px solid #fd3c3c;
  margin: 2em 0;
  padding: 1em;
  border-radius: 10px; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  min-height: 100% !important;
  width: 100% !important;
  position: relative; }

body {
  min-height: 100% !important;
  width: 100% !important;
  overflow-x: hidden !important; }

#footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #223e99 !important; }
