/* ========================================================================== */
/*                                   COLORS                                   */
/* ========================================================================== */

    // Here are the custom color utilites i will be using on top of Boostrap


/* ========================================================================== */
/*                                    BLUE                                    */
/* ========================================================================== */
// text color
.text-blue{
    color: #223e99;
}

// background-color
.bg-blue{
    background-color:#223e99;
  }

/* ========================================================================== */
/*                                     RED                                    */
/* ========================================================================== */

// text color
.text-red{
    color:#fd3c3c;
}
// background color
.bg-red{
    background-color: #fd3c3c;
}