/* ========================================================================== */
/*                                   COLORS                                   */
/* ========================================================================== */

    // Here are the custom color utilites i will be using on top of Boostrap

$red : #fd3c3c;


/* ========================================================================== */
/*                                    BLUE                                    */
/* ========================================================================== */
// text color
.text-blue{
    color: #223e99 !important;
}

// background-color
.bg-blue{
    background-color:#223e99 !important;
  }

/* ========================================================================== */
/*                                     RED                                    */
/* ========================================================================== */

// text color
.text-red{
    color:#fd3c3c !important;
}
// background color
.bg-red{
    background-color: #fd3c3c !important;
}

/* ========================================================================== */
/*                                     TAN                                    */
/* ========================================================================== */

// text color
.text-tan{
    color:#cdbcb2 !important;
}

// background color
.bg-tan{
    background-color: #cdbcb2 !important;
}